autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
.deps/cudaminer-cpu-miner.Po
.deps/cudaminer-maxcoin.Po
.deps/cudaminer-scrypt-jane.Po
.deps/cudaminer-scrypt.Po
.deps/cudaminer-sha2.Po
.deps/cudaminer-sha3.Po
.deps/cudaminer-util.Po
autom4te.cache/output.2
autom4te.cache/traces.2
compat/jansson/.deps/dump.Po
compat/jansson/.deps/hashtable.Po
compat/jansson/.deps/load.Po
compat/jansson/.deps/strbuffer.Po
compat/jansson/.deps/utf.Po
compat/jansson/.deps/value.Po
stamp-h1
